html
  head
    title= "Nerdify"
    link(rel='stylesheet' href='public/github-markdown.css')
    link(rel='stylesheet' href='public/highlightjs/default.css')
    link(rel='stylesheet' href='public/nerdify.css')
    /*style(type='text/css').
      body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
      }*/
  body
    article(class='markdown-body')!= markdownHtml
